/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

main {
    padding: 20px;
}

/* Estilos específicos para o currículo */
h1, h2, h3 {
    margin-top: 0;
}

.job, .education {
    margin-bottom: 20px;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

/* Estilos para tornar o currículo responsivo */
@media screen and (max-width: 600px) {
    header, footer {
        padding: 10px;
    }

    main {
        padding: 10px;
    }

    .job, .education {
        margin-bottom: 10px;
    }
}
